/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  height: 100%;
  background-color: pink; /* For browsers that do not support gradients */
  background-image: linear-gradient(DeepPink, OrangeRed);

}

.color { 
    height: 100%;
    background-color: pink; /* For browsers that do not support gradients */
    background-image: linear-gradient(DeepPink, rgb(58, 17, 3));
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: pink; /* For browsers that do not support gradients */
}

header {
  width: 100%;
  height: 500px;
  background: var(--orange);
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 24px;
  color: var(--blue);
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: var(--blue);
  text-decoration: none;
}

nav ul li a:hover {
  color: #720d5c;
}

.content .header-block {
  max-width: 1000px;
  min-width: 300px;
  height: 450px;
  background: var(--blue);
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  padding: 10px;
}

.header-block .text {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

/* Product Catalog */
section .filter-card {
  width: 980px;
  height: 150px;
  background: var(--gray);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}

.search-button {
  width: 150px;
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  background: var(--blue);
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.2s ease;
}

.search-button:hover {
  background: #dedede;
  color: var(--blue);
}

.title-wrapper-catalog {
  margin-top: 200px;
  padding-bottom: 20px;
}

section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

.card-content {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  width: 85%;
}

.card-item h4 {
  width: 90%;
}

.card-item p {
  width: 90%;
  font-style: italic;
  color: #00000070;
}

.card-item button:hover {
  background: #dedede;
  color: var(--orange);
}

/* Features */
.features {
  width: 100%;
  height: 100%;
  background: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.feature-card-block {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: white;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 30px;
}

.feature-card-item {
  max-width: 420px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #dedede3b;
  border-radius: 4px;
}

.feature-text-content {
  max-width: 60%;
  margin: 5px;
}

/* Footer */
footer {
  width: 100%;
  height: 250px;
}

footer .main {
  width: 100%;
  height: 200px;
  background: var(--orange);
  padding: 20px 10px;
}

.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-company,
.footer-rental,
.footer-contact,
.footer-social {
  color: rgb(7, 6, 6);
  height: 80%;
  min-height: 80px;
}

/*ÍCONES DAS MÍDIAS SOCIAIS*/
.main .footer-social img {
  width: 50px;
  height: 20px;
}

/* DESENVOLVIDO POR PAULA REGINA*/
footer .last {
  width: 100%;
  height: 50px;
  background: var(--blue);
  color: rgb(168, 27, 105);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive adjustments */

@media (max-width: 576px) {

  .right p {
    width: 100%;
    margin: 0px;
    text-align: left;
  }

  footer {
    height: 100%;
  }

  footer .main {
    height: 100%;
  }

  .footer-links {
    flex-direction: column;
    padding-left: 10%;
  }
}